<div class="modal fade" id="modal-delete-item" tabindex="-1" role="dialog" aria-labelledby="modal-delete-item" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header border-bottom-0">
                <div class="w-100 text-center">
                    <h5 class="modal-title">
                        <i class="fa-solid fa-trash-alt text-danger display-4"></i>
                    </h5>
                </div>
            </div>
            <div class="modal-body text-center">
                <p>O registro será excluído do sistema.</p>
                <p>Confirma a exclusão?</p>
            </div>
            <div class="modal-footer">
                <button id="btn-delete-item" type="button" class="btn btn-custom btn-primary">Sim</button>
                <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Não</button>
            </div>
        </div>
    </div>
</div>