<div class="col-auto mb-3 mr-1">
    <div class="card shadow-sm" style="width: 18rem;">
        <a href="/@ViewData["controllerName"]">
            <div class="card-body text-center">
                <i class="@ViewData["icon"] fa-3x"></i>
            </div>
            <div class="card-footer text-center">
                @ViewData["title"]
            </div>
        </a>
    </div>
</div>