.input-group {
    border-radius: 15px;
    overflow: hidden;
    border: 1px solid #ced4da; /* mesma cor da borda do Bootstrap */
}


.card a {
    text-decoration: none;
}

/* Estilo semelhante ao disabled */
[readonly] {
    pointer-events: none; /* Evita clique */
    background-color: #e9ecef; /* Fundo cinza claro */
    color: #6c757d; /* Texto cinza */
    opacity: 1; /* Mantém legível */
}