@{
    ViewData["Title"] = "Home Page";
}

<div id="div-content" class="card shadow-sm sg-content">
    @* <div class="card-body"> *@
        <div class="row justify-content-center">

            @await Component.InvokeAsync("CardModule", new { controllerName = "User", title = "Usuários", icon = "fa-solid fa-users" })
            @await Component.InvokeAsync("CardModule", new { controllerName = "Acompanhamento", title = "Acompanhamento", icon = "fa-solid fa-people-carry-box" })

        </div>
    @* </div> *@
</div>
