html,
body {
    height: 100%;
}

body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(166deg, rgba(111, 104, 160, 0.28) 50%, rgba(17, 18, 29, 0.52) 70%), url('../../img/login_background.jpg');
}


.div-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-signin {
    width: 100%;
    padding: 15px;
    margin: auto;
    background-color: #f5f5f5;
}

    .form-signin .checkbox {
        font-weight: 400;
    }

    .form-signin .form-control {
        position: relative;
        box-sizing: border-box;
        height: auto;
        padding: 10px;
        font-size: 16px;
    }

        .form-signin .form-control:focus {
            z-index: 2;
        }

    .form-signin input[type="email"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

@media screen and (max-width: 600px) {
    body {
        background-image: none;
        background-color: #f5f5f5;
    }

    .div-signin {
        width: 100%;
        max-width: 360px;
        padding: 0px;
        margin: auto;
    }
}

#btnLogin {
    color: #fff;
    background-color: #05467E;
    border-color: #05467E;
}
.logo {
    max-width: 100%;
    height: auto;
    display: block; 
}

    .logo img-responsive {
        width: 300px;
        height: auto; /* Mantém a proporção original */
    }

