:root {
    --primary: #06336E;
    --tertiary: #97c4ff;
    --secondary: #f4ce06;
    --background: #90a7c3;
    --text-color-primary: #06336E;
    --text-color-secondary: #fff;
    --primary-rgba: rgba(27,68,120, 0.6)
}
